.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  margin-right: 15px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 100%;
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(270deg);
  padding-left: 2px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}